<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<h1>Инструкция по настройке уведомлений по аське. </h1>
<hr></hr><div><br></div>
<div>Бот ICQ позволяет рассылать уведомления по списку или отсылать одиночные сообщения. </div>
<div><br></div>
<div>Для работы и уведомлений и бота достаточно чтобы сервер 1С имел доступ в интернет. Опубликовывать базу не надо. </div>
<div><br></div>
<div>Для работы необходим Общий модуль КоннекторHTTP. Огромное спасибо <a href="https://github.com/vbondarevsky">Vladimir Bondarevskiy</a> за него.</div>
<div><br></div>
<div>Информация по константам и модулям:</div>
<div>
<ul><li>В справочник Пользователи появилось два новых реквизита: szНомерАськи, szПолучатьРассылкуПоАське.</li>
<li>В справочнике Пользователи необходимо заполнить реквизит szНомерАськи. </li>
<li>Установить токен бота в обработке SZ Демо Аська. Без этого рассылка уведомлений работать не будет.</li></ul></div>




<div>ВАЖНО. Бот может отсылать сообщения только тем пользователям, которые писали ему. Т.е. чтобы получать уведомления пользователь должен в аське написать боту хоть что-то. </div>
<div><br></div>
<div>
<hr></hr></div>
<div>Для получения токена для вашего бота его необходимо создать. </div>
<div>Для этого:</div>
<div>
<ul><li>обратитесь к Метаботу</li>
<li>введите команду /newbot</li>
<li>придумайте и введите уникальное имя для своего бота. Имя обязательно должно оканчиваться на bot.</li></ul></div>


<div>Если вы все сделали правильно, то вы получите сообщение Success и токен вашего бота.</div>
<div><br></div>
<div>Надо иметь в виду, что при отправке одиночного сообщения признак szПолучатьРассылкуПоАське у Пользователя игнорируется. Т.е. если номер аськи прописан, то Пользователь получит сообщение.</div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>
<div><br></div>


</body></html>