name: sonar-scanner

on:
  pull_request:
    branches:
    - master
    - features
  push: 
    branches: 
    - master
    - develope
    - features

jobs:
  SonarScanner:
    if: github.repository == 'BlizD/Tasks'
    runs-on: ubuntu-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: ''
    - run: |
        git fetch --prune --unshallow
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'temurin'
    - name: Setup SonarQube scanner
      uses: warchant/setup-sonar-scanner@v1
    - name: Run SonarQube on push
      if: github.event_name == 'push'
      run: sonar-scanner
        -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        -Dsonar.host.url=https://sonar.openbsl.ru
        -Dsonar.branch.name=${GITHUB_REF#refs/heads/}
    - name: Run SonarQube on pull request
      if: github.event_name == 'pull_request'
      run: sonar-scanner
        -X
        -Dsonar.login=${{ secrets.SONAR_TOKEN }}
        -Dsonar.host.url=https://sonar.openbsl.ru
        -Dsonar.pullrequest.key=${{ github.event.pull_request.number }}
        -Dsonar.pullrequest.branch=${{ github.event.pull_request.head.ref }}
        -Dsonar.pullrequest.base=${{ github.event.pull_request.base.ref }}
